.lms-courses-page {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-areas:
    "tools"
    "subjects";
}

.lms-course-action-buttons-section {
  width: 100%;
  padding: 10px;
  grid-area: tools;
  gap: 20px;
}

.subjects-section {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-area: subjects;
  overflow: auto;
  padding: 20px 10px;
  will-change: scroll-position;
}

.subjects-section > * {
  box-sizing: border-box;
}
