.error-page {
  width: 100%;
  height: 100dvh;
  gap: 2rem;
  background-image: url(../../assets/backgrounds/light.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.error-page-icon {
  width: 200px;
  height: 200px;
  color: var(--secondary-color-normal);
}

.error-page > h1 {
  font-size: 64px;
}