@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap");

:root {
  --primary-color-normal: #2b7fff;
  --primary-color-hover: #155dfc;
  --primary-color-inactive: #51a2ff;

  --secondary-color-normal: #ff6900;
  --secondary-color-hover: #f54a00;
  --secondary-color-inactive: #ff8904;

  --backgroud-light-color-normal: #f3f4f6;
  --backgroud-light-color-dark: #e5e7eb;
  --backgroud-light-color-light: #f9fafb;

  --backgroud-dark-color-normal: #101828;
  --backgroud-dark-color-dark: #030712;
  --backgroud-dark-color-light: #1e2939;

  --foreground-light-color: #fff;
  --foreground-dark-color: #000;

  --font-size-heading-1: 32px;
  --font-size-heading-2: 28px;
  --font-size-heading-3: 24px;
  --font-size-heading-4: 20px;
  --font-size-general: 18px;
  --font-size-notes: 14px;

  --error-color: #fb2c36;
  --success-color: #00c950;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--font-size-general);
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
}

::selection {
  background-color: var(--secondary-color-normal);
  color: var(--backgroud-light-color-normal);
}

body {
  background-color: var(--backgroud-light-color-normal);
  color: var(--foreground-dark-color);
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color-normal);
}

h1 > span,
h2 > span,
h3 > span,
h4 > span,
p > span {
  color: var(--secondary-color-normal);
}

h1,
h1 > * {
  font-size: var(--font-size-heading-1);
}

.complete-left {
  width: 100%;
  text-align: left;
}

h2,
h2 > * {
  font-size: var(--font-size-heading-2);
}

h3,
h3 > * {
  font-size: var(--font-size-heading-3);
}

h4,
h4 > * {
  font-size: var(--font-size-heading-4);
}

.notes-text {
  color: var(--primary-color-normal);
}

.notes-text > * {
  color: var(--secondary-color-normal);
}

.notes-text,
.notes-text > * {
  font-size: var(--font-size-notes);
}

img {
  user-select: none;
}

input {
  width: 100%;
  height: 40px;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: var(--primary-color-inactive);
}

input.error::placeholder {
  color: var(--error-color);
}

button {
  cursor: pointer;
  text-align: center;
  height: 40px;
}

button.error {
  background-color: var(--error-color);
  color: var(--foreground-light-color);
}

button:disabled {
  cursor: not-allowed;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-column-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-row-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-row-center-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.is-visible {
  display: block;
}

.is-hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-inactive);
  border-radius: 2rem;
  cursor: s-resize;
}

.pop-up-component-container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--backgroud-light-color-normal);
  max-width: 600px;
  max-height: 800px;
  padding: 20px;
  border-radius: 1rem;
  overflow: hidden;
}

.close-pop-up {
  background-color: transparent;
  border: none;
  color: var(--error-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (max-width: 600px) {
  .pop-up-component-container {
    max-width: 100%;
    max-height: 100vh;
    padding: 10px;
    border-radius: 0;
  }
}
