.error-note-component {
  width: 100%;
  min-height: 20px;
  padding: 0.5rem;
  animation: 0.5s ease-in-out;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error-note-component-text {
  color: var(--error-color);
  font-size: var(--font-size-notes);
}
